---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/DFE-Digital/apply-for-postgraduate-teacher-training/actions/workflows/build.yml/runs?branch=master&page=1&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, delete_repo, read:repo_hook, repo, repo:status, repo_deployment,
        security_events, write:repo_hook
      Location:
      - https://api.github.com/repositories/167356028/actions/workflows/build.yml/runs?branch=master&page=1&per_page=5
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4917'
      X-Ratelimit-Reset:
      - '1619703041'
      X-Ratelimit-Used:
      - '83'
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/167356028/actions/workflows/build.yml/runs?branch=master&page=1&per_page=5","documentation_url":"https://docs.github.com/v3/#http-redirects"}'
  recorded_at: Thu, 29 Apr 2021 13:04:37 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/167356028/actions/workflows/build.yml/runs?branch=master&page=1&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"10d6808942b021abefbc9b38b38809898a80226fa2536dc17de4b7c1bcdfa31c"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/167356028/actions/workflows/build.yml/runs?branch=master&page=2&per_page=5>;
        rel="next", <https://api.github.com/repositories/167356028/actions/workflows/build.yml/runs?branch=master&page=49&per_page=5>;
        rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4916'
      X-Ratelimit-Reset:
      - '1619703041'
      X-Ratelimit-Used:
      - '84'
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":241,"workflow_runs":[{"id":795797168,"name":"Build","node_id":"MDExOldvcmtmbG93UnVuNzk1Nzk3MTY4","head_branch":"master","head_sha":"f6ae739158c65da03d92e4389fc1437ecf647396","run_number":1131,"event":"push","status":"completed","conclusion":"failure","workflow_id":7039506,"check_suite_id":2611786568,"check_suite_node_id":"MDEwOkNoZWNrU3VpdGUyNjExNzg2NTY4","url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/actions/runs/795797168","html_url":"https://github.com/DFE-Digital/apply-for-teacher-training/actions/runs/795797168","pull_requests":[],"created_at":"2021-04-29T11:00:42Z","updated_at":"2021-04-29T11:44:37Z","jobs_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/actions/runs/795797168/jobs","logs_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/actions/runs/795797168/logs","check_suite_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/check-suites/2611786568","artifacts_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/actions/runs/795797168/artifacts","cancel_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/actions/runs/795797168/cancel","rerun_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/actions/runs/795797168/rerun","workflow_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/actions/workflows/7039506","head_commit":{"id":"f6ae739158c65da03d92e4389fc1437ecf647396","tree_id":"56785e96444f521e2b57b8f3e093d618fbcad965","message":"Merge
        pull request #4622 from DFE-Digital/3313-add-accessible-text-to-work-history-break-action-links-2\n\nAdd
        Hidden Accessibility text to Restructured Work History view","timestamp":"2021-04-29T11:00:41Z","author":{"name":"George
        Holborn","email":"62567622+george-bit@users.noreply.github.com"},"committer":{"name":"GitHub","email":"noreply@github.com"}},"repository":{"id":167356028,"node_id":"MDEwOlJlcG9zaXRvcnkxNjczNTYwMjg=","name":"apply-for-teacher-training","full_name":"DFE-Digital/apply-for-teacher-training","private":false,"owner":{"login":"DFE-Digital","id":30029772,"node_id":"MDEyOk9yZ2FuaXphdGlvbjMwMDI5Nzcy","avatar_url":"https://avatars.githubusercontent.com/u/30029772?v=4","gravatar_id":"","url":"https://api.github.com/users/DFE-Digital","html_url":"https://github.com/DFE-Digital","followers_url":"https://api.github.com/users/DFE-Digital/followers","following_url":"https://api.github.com/users/DFE-Digital/following{/other_user}","gists_url":"https://api.github.com/users/DFE-Digital/gists{/gist_id}","starred_url":"https://api.github.com/users/DFE-Digital/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/DFE-Digital/subscriptions","organizations_url":"https://api.github.com/users/DFE-Digital/orgs","repos_url":"https://api.github.com/users/DFE-Digital/repos","events_url":"https://api.github.com/users/DFE-Digital/events{/privacy}","received_events_url":"https://api.github.com/users/DFE-Digital/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/DFE-Digital/apply-for-teacher-training","description":"A
        service for applying to teacher training courses","fork":false,"url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training","forks_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/forks","keys_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/keys{/key_id}","collaborators_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/teams","hooks_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/hooks","issue_events_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/issues/events{/number}","events_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/events","assignees_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/assignees{/user}","branches_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/branches{/branch}","tags_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/tags","blobs_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/git/refs{/sha}","trees_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/git/trees{/sha}","statuses_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/statuses/{sha}","languages_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/languages","stargazers_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/stargazers","contributors_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/contributors","subscribers_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/subscribers","subscription_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/subscription","commits_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/commits{/sha}","git_commits_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/git/commits{/sha}","comments_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/comments{/number}","issue_comment_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/issues/comments{/number}","contents_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/contents/{+path}","compare_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/compare/{base}...{head}","merges_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/merges","archive_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/downloads","issues_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/issues{/number}","pulls_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/pulls{/number}","milestones_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/milestones{/number}","notifications_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/labels{/name}","releases_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/releases{/id}","deployments_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/deployments"},"head_repository":{"id":167356028,"node_id":"MDEwOlJlcG9zaXRvcnkxNjczNTYwMjg=","name":"apply-for-teacher-training","full_name":"DFE-Digital/apply-for-teacher-training","private":false,"owner":{"login":"DFE-Digital","id":30029772,"node_id":"MDEyOk9yZ2FuaXphdGlvbjMwMDI5Nzcy","avatar_url":"https://avatars.githubusercontent.com/u/30029772?v=4","gravatar_id":"","url":"https://api.github.com/users/DFE-Digital","html_url":"https://github.com/DFE-Digital","followers_url":"https://api.github.com/users/DFE-Digital/follower[...]
- request:
    method: get
    uri: https://api.github.com/repos/DFE-Digital/apply-for-postgraduate-teacher-training/deployments?environment=qa&page=1&per_page=10&task=deploy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, delete_repo, read:repo_hook, repo, repo:status, repo_deployment,
        security_events, write:repo_hook
      Location:
      - https://api.github.com/repositories/167356028/deployments?environment=qa&page=1&per_page=10&task=deploy
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4915'
      X-Ratelimit-Reset:
      - '1619703041'
      X-Ratelimit-Used:
      - '85'
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/167356028/deployments?environment=qa&page=1&per_page=10&task=deploy","documentation_url":"https://docs.github.com/v3/#http-redirects"}'
  recorded_at: Thu, 29 Apr 2021 13:04:38 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/167356028/deployments?environment=qa&page=1&per_page=10&task=deploy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9220982a0d58f96bbfcc35b5f45c5068ec614ce1ffc9553e0d3d4cd3742a257a"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo, repo_deployment
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/167356028/deployments?environment=qa&page=2&per_page=10&task=deploy>;
        rel="next", <https://api.github.com/repositories/167356028/deployments?environment=qa&page=16&per_page=10&task=deploy>;
        rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4914'
      X-Ratelimit-Reset:
      - '1619703041'
      X-Ratelimit-Used:
      - '86'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/deployments/357260737","id":357260737,"node_id":"MDEwOkRlcGxveW1lbnQzNTcyNjA3Mzc=","task":"deploy","original_environment":"qa","environment":"qa","description":null,"created_at":"2021-04-29T11:44:51Z","updated_at":"2021-04-29T11:46:38Z","statuses_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/deployments/357260737/statuses","repository_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training","creator":{"login":"twd-bat-ci","id":81171947,"node_id":"MDQ6VXNlcjgxMTcxOTQ3","avatar_url":"https://avatars.githubusercontent.com/u/81171947?v=4","gravatar_id":"","url":"https://api.github.com/users/twd-bat-ci","html_url":"https://github.com/twd-bat-ci","followers_url":"https://api.github.com/users/twd-bat-ci/followers","following_url":"https://api.github.com/users/twd-bat-ci/following{/other_user}","gists_url":"https://api.github.com/users/twd-bat-ci/gists{/gist_id}","starred_url":"https://api.github.com/users/twd-bat-ci/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/twd-bat-ci/subscriptions","organizations_url":"https://api.github.com/users/twd-bat-ci/orgs","repos_url":"https://api.github.com/users/twd-bat-ci/repos","events_url":"https://api.github.com/users/twd-bat-ci/events{/privacy}","received_events_url":"https://api.github.com/users/twd-bat-ci/received_events","type":"User","site_admin":false},"sha":"f6ae739158c65da03d92e4389fc1437ecf647396","ref":"master","payload":{},"performed_via_github_app":null},{"url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/deployments/357234926","id":357234926,"node_id":"MDEwOkRlcGxveW1lbnQzNTcyMzQ5MjY=","task":"deploy","original_environment":"qa","environment":"qa","description":null,"created_at":"2021-04-29T10:35:36Z","updated_at":"2021-04-29T11:46:38Z","statuses_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/deployments/357234926/statuses","repository_url":"https://api.github.com/repos/DFE-Digital/apply-[...]
- request:
    method: get
    uri: https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/deployments/357260737/statuses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"77b98e71aac9e1888bf937248df9c4ec21a05b54a98002a21b70cb81254b8aa2"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo, repo_deployment
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4913'
      X-Ratelimit-Reset:
      - '1619703041'
      X-Ratelimit-Used:
      - '87'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/deployments/357260737/statuses/532444966","id":532444966,"node_id":"MDE2OkRlcGxveW1lbnRTdGF0dXM1MzI0NDQ5NjY=","state":"failure","creator":{"login":"twd-bat-ci","id":81171947,"node_id":"MDQ6VXNlcjgxMTcxOTQ3","avatar_url":"https://avatars.githubusercontent.com/u/81171947?v=4","gravatar_id":"","url":"https://api.github.com/users/twd-bat-ci","html_url":"https://github.com/twd-bat-ci","followers_url":"https://api.github.com/users/twd-bat-ci/followers","following_url":"https://api.github.com/users/twd-bat-ci/following{/other_user}","gists_url":"https://api.github.com/users/twd-bat-ci/gists{/gist_id}","starred_url":"https://api.github.com/users/twd-bat-ci/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/twd-bat-ci/subscriptions","organizations_url":"https://api.github.com/users/twd-bat-ci/orgs","repos_url":"https://api.github.com/users/twd-bat-ci/repos","events_url":"https://api.github.com/users/twd-bat-ci/events{/privacy}","received_events_url":"https://api.github.com/users/twd-bat-ci/received_events","type":"User","site_admin":false},"description":"","environment":"qa","target_url":"https://github.com/DFE-Digital/apply-for-teacher-training/runs/2466288398","created_at":"2021-04-29T11:46:38Z","updated_at":"2021-04-29T11:46:38Z","deployment_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/deployments/357260737","repository_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training","performed_via_github_app":null},{"url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/deployments/357260737/statuses/532443889","id":532443889,"node_id":"MDE2OkRlcGxveW1lbnRTdGF0dXM1MzI0NDM4ODk=","state":"in_progress","creator":{"login":"twd-bat-ci","id":81171947,"node_id":"MDQ6VXNlcjgxMTcxOTQ3","[...]
- request:
    method: get
    uri: https://api.github.com/repos/DFE-Digital/apply-for-postgraduate-teacher-training/deployments?environment=production&page=1&per_page=10&task=deploy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, delete_repo, read:repo_hook, repo, repo:status, repo_deployment,
        security_events, write:repo_hook
      Location:
      - https://api.github.com/repositories/167356028/deployments?environment=production&page=1&per_page=10&task=deploy
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4912'
      X-Ratelimit-Reset:
      - '1619703041'
      X-Ratelimit-Used:
      - '88'
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/167356028/deployments?environment=production&page=1&per_page=10&task=deploy","documentation_url":"https://docs.github.com/v3/#http-redirects"}'
  recorded_at: Thu, 29 Apr 2021 13:04:39 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/167356028/deployments?environment=production&page=1&per_page=10&task=deploy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0505de91afa635cbe73821bc5761c433cd932d033d1e25f96efe7c4ad6599e59"
      X-Oauth-Scopes:
[...]
[...]
