---
http_interactions:
- request:
    method: get
    uri: https://dev.azure.com/dfe-ssp/Become-A-Teacher/_apis/build/builds?api-version=5.1&branchName=refs/heads/master&definitions=49
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=5.1
    body:
      encoding: UTF-8
      string: '{"count":132,"value":[{"_links":{"self":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/Builds/26076"},"web":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_build/results?buildId=26076"},"sourceVersionDisplayUri":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/builds/26076/sources"},"timeline":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/builds/26076/Timeline"},"badge":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/status/49"}},"properties":{},"tags":[],"validationResults":[],"plans":[{"planId":"0297e36a-5d76-465e-bf74-181a46449b81"}],"triggerInfo":{},"id":26076,"buildNumber":"ce44613","status":"notStarted","queueTime":"2019-10-17T10:04:25.5700666Z","url":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/Builds/26076","definition":{"drafts":[],"id":49,"name":"apply-for-teacher-training","url":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/Definitions/49?revision=8","uri":"vstfs:///Build/Definition/49","path":"\\Apply","type":"build","queueStatus":"enabled","revision":8,"project":{"id":"8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6","name":"Become-A-Teacher","description":"Various
        delivery teams for the Become a Teacher programme","url":"https://dev.azure.com/dfe-ssp/_apis/projects/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6","state":"wellFormed","revision":564,"visibility":"private","lastUpdateTime":"2019-07-08T09:16:12.69Z"}},"buildNumberRevision":6,"project":{"id":"8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6","name":"Become-A-Teacher","description":"Various
        delivery teams for the Become a Teacher programme","url":"https://dev.azure.com/dfe-ssp/_apis/projects/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6","state":"wellFormed","revision":564,"visibility":"private","lastUpdateTime":"2019-07-08T09:16:12.69Z"},"uri":"vstfs:///Build/Build/26076","sourceBranch":"refs/heads/master","sourceVersion":"ce446132e59900c8d783d55e120940b06102fc0b","queue":{"id":45,"name":"Hosted
        Ubuntu 1604","pool":{"id":6,"name":"Hosted Ubuntu 1604","isHosted":true}},"priority":"normal","reason":"manual","requestedFor":{"displayName":"Duncan
        Brown","url":"https://spsprodweu2.vssps.visualstudio.com/Ae9f68a15-8168-42ec-88b5-17e41cb43473/_apis/Identities/a978888e-4353-6b49-9eba-6a8ebc5227db","_links":{"avatar":{"href":"https://dev.azure.com/dfe-ssp/_apis/GraphProfile/MemberAvatars/aad.YTk3ODg4OGUtNDM1My03YjQ5LTllYmEtNmE4ZWJjNTIyN2Ri"}},"id":"a978888e-4353-6b49-9eba-6a8ebc5227db","uniqueName":"duncan.brown@digital.education.gov.uk","imageUrl":"https://dev.azure.com/dfe-ssp/_apis/GraphProfile/MemberAvatars/aad.YTk3ODg4OGUtNDM1My03YjQ5LTllYmEtNmE4ZWJjNTIyN2Ri","descriptor":"aad.YTk3ODg4OGUtNDM1My03YjQ5LTllYmEtNmE4ZWJjNTIyN2Ri"},"requestedBy":{"displayName":"Duncan
        Brown","url":"https://spsprodweu2.vssps.visualstudio.com/Ae9f68a15-8168-42ec-88b5-17e41cb43473/_apis/Identities/a978888e-4353-6b49-9eba-6a8ebc5227db","_links":{"avatar":{"href":"https://dev.azure.com/dfe-ssp/_apis/GraphProfile/MemberAvatars/aad.YTk3ODg4OGUtNDM1My03YjQ5LTllYmEtNmE4ZWJjNTIyN2Ri"}},"id":"a978888e-4353-6b49-9eba-6a8ebc5227db","uniqueName":"duncan.brown@digital.education.gov.uk","imageUrl":"https://dev.azure.com/dfe-ssp/_apis/GraphProfile/MemberAvatars/aad.YTk3ODg4OGUtNDM1My03YjQ5LTllYmEtNmE4ZWJjNTIyN2Ri","descriptor":"aad.YTk3ODg4OGUtNDM1My03YjQ5LTllYmEtNmE4ZWJjNTIyN2Ri"},"lastChangedDate":"2019-10-17T10:39:53.577Z","lastChangedBy":{"displayName":"Duncan
        Brown","url":"https://spsprodweu2.vssps.visualstudio.com/Ae9f68a15-8168-42ec-88b5-17e41cb43473/_apis/Identities/a978888e-4353-6b49-9eba-6a8ebc5227db","_links":{"avatar":{"href":"https://dev.azure.com/dfe-ssp/_apis/GraphProfile/MemberAvatars/aad.YTk3ODg4OGUtNDM1My03YjQ5LTllYmEtNmE4ZWJjNTIyN2Ri"}},"id":"a978888e-4353-6b49-9eba-6a8ebc5227db","uniqueName":"duncan.brown@digital.education.gov.uk","imageUrl":"https://dev.azure.com/dfe-ssp/_apis/GraphProfile/MemberAvatars/aad.YTk3ODg4OGUtNDM1My03YjQ5LTllYmEtNmE4ZWJjNTIyN2Ri","descriptor":"aad.YTk3ODg4OGUtNDM1My03YjQ5LTllYmEtNmE4ZWJjNTIyN2Ri"},"parameters":"{\"system.debug\":\"false\"}","orchestrationPlan":{"planId":"0297e36a-5d76-465e-bf74-181a46449b81"},"logs":{"id":0,"type":"Container","url":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/builds/26076/logs"},"repository":{"id":"DFE-Digital/apply-for-postgraduate-teacher-training","type":"GitHub","clean":null,"checkoutSubmodules":false},"keepForever":false,"retainedByRelease":false,"triggeredByBuild":null},{"_links":{"self":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/Builds/31147"},"web":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_build/results?buildId=31147"},"sourceVersionDisplayUri":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/builds/31147/sources"},"timeline":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/builds/31147/Timeline"},"badge":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/status/49"}},"properties":{},"tags":[],"validationResults":[],"plans":[{"planId":"8eec95ad-27a0-45ec-abad-e27bb2e688e4"}],"triggerInfo":{},"id":31147,"buildNumber":"bbad5e7","status":"completed","result":"succeeded","queueTime":"2019-11-20T12:10:08.0912941Z","startTime":"2019-11-20T12:10:30.7464229Z","finishTime":"2019-11-20T12:29:36.6468739Z","url":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/Builds/31147","definition":{"drafts":[],"id":49,"name":"apply-for-teacher-training","url":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/Definitions/49?revision=11","uri":"vstfs:///Build/Definition/49","path":"\\Apply","type":"build","queueStatus":"enabled","revision":11,"project":{"id":"8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6","name":"Become-A-Teache[...]
- request:
    method: get
    uri: https://dev.azure.com/dfe-ssp/Become-A-Teacher/_apis/build/builds?api-version=5.1&definitions=325
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=5.1
    body:
      encoding: UTF-8
      string: '{"count":9,"value":[{"_links":{"self":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd[...]
- request:
    method: get
    uri: https://api.github.com/repos/DFE-Digital/apply-for-postgraduate-teacher-training/compare/bbad5e734c844f16272351d17b0771f0789da739...master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '13'
      X-Ratelimit-Reset:
      - '1574256245'
      Etag:
      - W/"1bce232eb6c930f277a10b10973b891b"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/DFE-Digital/apply-for-postgraduate-teacher-training/compare/bbad5e734c844f16272351d17b0771f0789da739...master","html_url":"https://github.com/DFE-Digital/apply-for-postgraduate-teacher-training/compare/bbad5e734c844f16272351d17b0771f0789da739...master","permalink_url":"https://github.com/DFE-Digital/apply-for-postgraduate-teacher-training/compare/DFE-Digital:bbad5e7...DFE-Digital:bbad5e7","diff_url":"https://github.com/DFE-Digital/apply-for-postgraduate-teacher-training/compare/bbad5e734c844f16272351d17b0771f0789da739...master.diff","patch_url":"https://github.com/DFE-Digital/apply-for-postgraduate-teacher-training/compare/bbad5e734c844f16272351d17b0771f0789da739...master.patch","base_commit":{"sha":"bbad5e734c844f16272351d17b0771f0789da739","node_id":"MDY6Q29tbWl0MTY3MzU2MDI4OmJiYWQ1ZTczNGM4NDRmMTYyNzIzNTFkMTdiMDc3MWYwNzg5ZGE3Mzk=","commit":{"author":{"name":"Wen
        Ting Wang","email":"42817036+chubberlisk@users.noreply.github.com","date":"2019-11-20T12:09:55Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2019-11-20T12:09:55Z"},"message":"Merge
        pull request #602 from DFE-Digital/408-update-saving-graduation-year-in-degrees-to-remove-whitespacing\n\nRemove
        whitespacing for award year of a degree","tree":{"sha":"411a99fa846f0a6262b4899b59da42a493bc6d72","url":"https://api.github.com/repos/DFE-Digital/apply-for-postgraduate-teacher-training/git/trees/411a99fa846f0a6262b4899b59da42a493bc6d72"},"url":"https://api.github.com/repos/DFE-Digital/apply-for-postgraduate-teacher-training/git/commits/bbad5e734c844f16272351d17b0771f0789da739","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJd1S0TCRBK7hj4Ov3rIwAAdHIIAHOM0b2kTiWAUAz7jIOwmNJN\nIStMtz/Hdkvfm7+6SqnqmA9Ob4DTSsna8CSxd/DQZbNmzvI/hXF4m3RP4iVx5J6G\nabkQPKGg9AZUqtuR/KQ/aleGxLIv91HmmksNMPD/y6iKqYMPkTnEODkF2jPiiSQH\ngmfS31nIlkVuf2h+hD2MLtVVoZdlz+pwa7TNCU0D+g9z4p9r/dS0IkRPolnpO+Yz\nOIsL5HAuXe7qw/eXx9DwzTMxC7K6mI5lh8B8phE5r/4GOoLZXNm0D342O7Z/1gKK\nvJSlpg5AUzE/PhSHRyI2BiCfa7hu7XCT7u4eXsX5m/p0uJkl1E3DthJrUOUWWhI=\n=af4b\n-----END
        PGP SIGNATURE-----\n","payload":"tree 411a99fa846f0a6262b4899b59da42a493bc6d72\nparent
        ffed7a2694b8adda816f686b45a8d5a40b22344f\nparent a3290a1b4a8999888f816eb1618ab42b83a27478\nauthor
        Wen Ting Wang <42817036+chubberlisk@users.noreply.github.com> 1574251795 +0000\ncommitter
        GitHub <noreply@github.com> 1574251795 +0000\n\nMerge pull request #602 from
        DFE-Digital/408-update-saving-graduation-year-in-degrees-to-remove-whitespacing\n\nRemove
        whitespacing for award year of a degree"}},"url":"https://api.github.com/repos/DFE-Digital/apply-for-postgraduate-teacher-training/commits/bbad5e734c844f16272351d17b0771f0789da739","html_url":"https://github.com/DFE-Digital/apply-for-postgraduate-teacher-training/commit/bbad5e734c844f16272351d17b0771f0789da739","comments_url":"https://api.github.com/repos/DFE-Digital/apply-for-postgraduate-teacher-training/commits/bbad5e734c844f16272351d17b0771f0789da739/comments","author":{"login":"chubberlisk","id":42817036,"node_id":"MDQ6VXNlcjQyODE3MDM2","avatar_url":"https://avatars2.githubusercontent.com/u/42817036?v=4","gravatar_id":"","url":"https://api.github.com/users/chubberlisk","html_url":"https://github.com/chubberlisk","followers_url":"https://api.github.com/users/chubberlisk/followers","following_url":"https://api.github.com/users/chubberlisk/following{/other_user}","gists_url":"https://api.github.com/users/chubberlisk/gists{/gist_id}","starred_url":"https://api.github.com/users/chubberlisk/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chubberlisk/subscriptions","organizations_url":"https://api.github.com/users/chubberlisk/orgs","repos_url":"https://api.github.com/users/chubberlisk/repos","events_url":"https://api.github.com/users/chubberlisk/events{/privacy}","received_events_url":"https://api.github.com/users/chubberlisk/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"node_id":"MDQ6VXNlcjE5ODY0NDQ3","avatar_url":"https://avatars3.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"sha":"ffed7a2694b8adda816f686b45a8d5a40b22344f","url":"https://api.github.com/repos/DFE-Digital/apply-for-postgraduate-teacher-training/commits/ffed7a2694b8adda816f686b45a8d5a40b22344f","html_url":"https://github.com/DFE-Digital/apply-for-postgraduate-teacher-training/commit/ffed7a2694b8adda816f686b45a8d5a40b22344f"},{"sha":"a3290a1b4a8999888f816eb1618ab42b83a27478","url":"https://api.github.com/repos/DFE-Digital/apply-for-postgraduate-teacher-training/commits/a3290a1b4a8999888f816eb1618ab42b83a27478","html_url":"https://github.com/DFE-Digital/apply-for-postgraduate-teacher-training/commit/a3290a1b4a8999888f816eb1618ab42b83a27478"}]},"merge_base_commit":{"sha":"bbad5e734c844f16272351d17b0771f0789da739","node_id":"MDY6Q29tbWl0MTY3MzU2MDI4OmJiYWQ1ZTczNGM4NDRmMTYyNzIzNTFkMTdiMDc3MWYwNzg5ZGE3Mzk=","commit":{"author":{"name":"Wen
        Ting Wang","email":"42817036+chubberlisk@users.noreply.github.com","date":"2019-11-20T12:09:55Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2019-11-20T12:09:55Z"},"message":"Merge
        pull request #602 from DFE-Digital/408-update-saving-graduation-year-in-degrees-to-remove-whitespacing\n\[...]
- request:
    method: get
    uri: https://api.github.com/repos/DFE-Digital/apply-for-postgraduate-teacher-training/compare/0cd42ec2be566dd32b54b97954651ea45ea033dd...master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '12'
      X-Ratelimit-Reset:
      - '1574256245'
      Last-Modified:
      - Wed, 20 Nov 2019 12:09:55 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJ1cmwiOiJodHRwczovL2FwaS5naXRodWIuY29tL3JlcG9zL0RGRS1EaWdpdGFsL2FwcGx5LWZvci1wb3N0Z3JhZHVhdGUtdGVhY2hlci10cmFpbmluZy9jb21wYXJlLzBjZDQyZWMyYmU1NjZkZDMyYjU0Yjk3OTU0NjUxZWE0NWVhMDMzZGQuLi5tYXN0ZXIiLCJodG1sX3VybCI6Imh0dHBzOi8vZ2l0aHViLmNvbS9ERkUtRGlnaXRhbC9hcHBseS1mb3ItcG9zdGdyYWR1YXRlLXRlYWNoZXItdHJhaW5pbmcvY29tcGFyZS8wY2Q0MmVjMmJlN[...]
