---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/DFE-Digital/apply-for-postgraduate-teacher-training/deployments?environment=production&page=1&per_page=10&task=deploy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, delete_repo, read:repo_hook, repo, repo:status, repo_deployment,
        security_events, write:repo_hook
      Location:
      - https://api.github.com/repositories/167356028/deployments?environment=production&page=1&per_page=10&task=deploy
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4927'
      X-Ratelimit-Reset:
      - '1619706701'
      X-Ratelimit-Used:
      - '73'
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/167356028/deployments?environment=production&page=1&per_page=10&task=deploy","documentation_url":"https://docs.github.com/v3/#http-redirects"}'
  recorded_at: Thu, 29 Apr 2021 13:43:33 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/167356028/deployments?environment=production&page=1&per_page=10&task=deploy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0505de91afa635cbe73821bc5761c433cd932d033d1e25f96efe7c4ad6599e59"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo, repo_deployment
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/167356028/deployments?environment=production&page=2&per_page=10&task=deploy>;
        rel="next", <https://api.github.com/repositories/167356028/deployments?environment=production&page=5&per_page=10&task=deploy>;
        rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4926'
      X-Ratelimit-Reset:
      - '1619706701'
      X-Ratelimit-Used:
      - '74'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/deployments/357088416","id":357088416,"node_id":"MDEwOkRlcGxveW1lbnQzNTcwODg0MTY=","task":"deploy","original_environment":"production","environment":"production","description":null,"created_at":"2021-04-29T03:06:47Z","updated_at":"2021-04-29T03:29:46Z","statuses_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/deployments/357088416/statuses","repository_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training","creator":{"login":"vigneshmsft","id":10269434,"node_id":"MDQ6VXNlcjEwMjY5NDM0","avatar_url":"https://avatars.githubusercontent.com/u/10269434?v=4","gravatar_id":"","url":"https://api.github.com/users/vigneshmsft","html_url":"https://github.com/vigneshmsft","followers_url":"https://api.github.com/users/vigneshmsft/followers","following_url":"https://api.github.com/users/vigneshmsft/following{/other_user}","gists_url":"https://api.github.com/users/vigneshmsft/gists{/gist_id}","starred_url":"https://api.github.com/users/vigneshmsft/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/vigneshmsft/subscriptions","organizations_url":"https://api.github.com/users/vigneshmsft/orgs","repos_url":"https://api.github.com/users/vigneshmsft/repos","events_url":"https://api.github.com/users/vigneshmsft/events{/privacy}","received_events_url":"https://api.github.com/users/vigneshmsft/received_events","type":"User","site_admin":false},"sha":"2992892343623e101efd9e6686229cfc066ac6c5","ref":"main","payload":{},"performed_via_github_app":null},{"url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/deployments/357063240","id":357063240,"node_id":"MDEwOkRlcGxveW1lbnQzNTcwNjMyNDA=","task":"deploy","original_environment":"production","environment":"production","description":null,"created_at":"2021-04-29T01:23:19Z","updated_at":"2021-04-29T03:29:46Z","statuses_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/deployments/357063240/statuses","repository_url":"https://api.github.com/repos/DF[...]
- request:
    method: get
    uri: https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/deployments/357088416/statuses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b2d473c295ac5d122c0679492859ab372ff19bb5828e150f71e0a1ecf5a1f06f"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo, repo_deployment
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4925'
      X-Ratelimit-Reset:
      - '1619706701'
      X-Ratelimit-Used:
      - '75'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/deployments/357088416/statuses/532144758","id":532144758,"node_id":"MDE2OkRlcGxveW1lbnRTdGF0dXM1MzIxNDQ3NTg=","state":"failure","creator":{"login":"vigneshmsft","id":10269434,"node_id":"MDQ6VXNlcjEwMjY5NDM0","avatar_url":"https://avatars.githubusercontent.com/u/10269434?v=4","gravatar_id":"","url":"https://api.github.com/users/vigneshmsft","html_url":"https://github.com/vigneshmsft","followers_url":"https://api.github.com/users/vigneshmsft/followers","following_url":"https://api.github.com/users/vigneshmsft/following{/other_user}","gists_url":"https://api.github.com/users/vigneshmsft/gists{/gist_id}","starred_url":"https://api.github.com/users/vigneshmsft/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/vigneshmsft/subscriptions","organizations_url":"https://api.github.com/users/vigneshmsft/orgs","repos_url":"https://api.github.com/users/vigneshmsft/repos","events_url":"https://api.github.com/users/vigneshmsft/events{/privacy}","received_events_url":"https://api.github.com/users/vigneshmsft/received_events","type":"User","site_admin":false},"description":"","environment":"production","target_url":"https://github.com/DFE-Digital/apply-for-teacher-training/runs/2463294984","created_at":"2021-04-29T03:29:46Z","updated_at":"2021-04-29T03:29:46Z","deployment_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/deployments/357088416","repository_url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training","performed_via_github_app":null},{"url":"https://api.github.com/repos/DFE-Digital/apply-for-teacher-training/deployments/357088416/statuses/532136518","id":532136518,"node_id":"MDE2OkRlcGxveW1lbnRTdGF0dXM1MzIxMzY1MTg=","state":"in_progress","creator":{"login":"vigneshmsft","id":10269434,"node_id":"MDQ6VXNlcjEwMjY5NDM0",[...]
[...]
