body {
  margin: 0;
  background-color: #0b0c0c;
}

.deploy-environment {
  padding: 20px;
}

.deploy-environment--qa {
  background-color: #f47738;
}

.deploy-environment--staging {
  background-color: #5694ca;
}

.deploy-environment--production {
  background-color: #1d70b8;
}

.govuk-heading-s,
.deploy-environment a,
.deploy-environment h2,
.deploy-environment .govuk-body,
.deploy-environment .govuk-list,
.deployers .govuk-body,
.deployers .govuk-heading-m {
  color: #fff;
}

.app-banner {
  text-align: center;
  padding: 50px 0;
  margin: 0;
  text-decoration: none;
}

.app-banner--small {
  padding: 20px 0;
}

.app-banner--bad {
  background-color: #d4351c;
  color: #fff;
}

.app-banner--progress {
  background-color: #ffdd00;
  color: #0b0c0c;
}

.apply-hypertable {
  color: #fff;
  font-size: 25px;
}

.apply-feature {
  width: 15%;
  padding: 10px 10px;
}

.apply-feature-header {
  padding-left: 20px;
}

.apply-feature-active {
  background-color: #00703c;
}

.apply-feature-state--confused {
  background-color: #d4351c;
}

.apply-feature-state--confused:after {
  content: ' 🥴';
}

.apply-feature-state--shipping:after {
  content: ' 🚢';
}
